In [3]:
import json
import pandas as pd
#from nose.tools import assert_equals
import lolML.src.feature_calc as feature_calc
import ast
import pickle
import numpy as np
import importlib

working_dir = 'C:\\Users\\Chauncey\\Documents\\GitHub\\LolML\\tests\\'
#working_dir = 'C:\\Users\\Me\\Documents\\GitHub\\LolML\\tests\\'

### Load in data

In [4]:
with open(working_dir + 'ten match info.json', 'r') as json_file:
    ten_match_info = json.load( json_file)
one_match_info = ten_match_info[0]

In [5]:
ten_match_df = pd.read_csv('ten match df.csv', sep=';', index_col='matchId', dtype={'version':str})

In [23]:
# make ten_match_df if you need to
importlib.reload(feature_calc)
ten_match_df = feature_calc.calc_features_all_matches(ten_match_info, 15)
ten_match_df = feature_calc.calc_secondary_features(ten_match_df)
ten_match_df = feature_calc.calc_second_diff([ten_match_df])[0]
ten_match_df.to_csv('ten match df.csv', encoding='utf-8', sep=';')

INFO:lolML.src.feature_calc:Calculating features for all matches
INFO:lolML.src.feature_calc:Finished calculating features, now retyping columns
INFO:lolML.src.feature_calc:Finished retyping, now dropping empty rows
INFO:lolML.src.feature_calc:Finished feature calculation!

### start testing functions

In [53]:
calc_buildings = feature_calc.calc_building_features(one_match_info, 15)
df_buildings = ten_match_df[['first_tower', 'tower_diff', 'total_tower', 'first_inhib',
                             'blue_inhibs', 'red_inhibs']].iloc[0].values

In [63]:
assert list(df_buildings) == list(calc_buildings), 'huh'

In [65]:
calc_monsters = feature_calc.calc_elite_monster_features(one_match_info, 15)
monster_col = ['first_dragon', 'drag_diff', 'total_drag', 'first_baron', 'blue_barons', 'red_barons']
df_monsters = ten_match_df[monster_col].iloc[0].values

In [66]:
assert list(df_monsters) == calc_monsters

### making changes to function

In [4]:
importlib.reload(feature_calc)
calc_df = feature_calc.calc_features_all_matches(ten_match_info, 15)

In [63]:
calc_team_comps = list(feature_calc.parse_team_comp(ten_match_info[0]))
calc_team_comps = [item for sublist in calc_team_comps for item in sublist]
team_col = ['blue_0', 'blue_1', 'blue_2', 'blue_3', 'blue_4',
         'red_0', 'red_1', 'red_2', 'red_3', 'red_4',]
df_team_comp = ten_match_df[team_col].iloc[0].values

In [64]:
calc_team_comps

[62, 131, 63, 59, 429, 82, 1, 2, 86, 201]

In [62]:
df_team_comp

array([ 62, 131,  63,  59, 429,  82,   1,   2,  86, 201], dtype=int64)

In [69]:
feature_calc.calc_secondary_features(ten_match_df)

,first_dragon,drag_diff,total_drag,first_baron,blue_barons,red_barons,first_tower,tower_diff,total_tower,first_inhib,...,surrender,game_length,winner,utctimestamp,version,square_gold_diff,gold_diff_diff,tower_diff_diff,kill_diff_diff,drag_diff_diff
matchId,,,,,,,,,,,,,,,,,,,,,
1955239698,1,1,1,-1,0,0,1,2,2,-1,...,1,37,1,1442681043081,5.18,5438224,0,0,0,0
1954974642,0,-1,1,-1,0,0,0,-1,3,-1,...,1,32,0,1442638686157,5.18,15124321,0,0,0,0
1950969271,-1,0,0,-1,0,0,-1,0,0,-1,...,0,44,0,1442271859805,5.17,236196,0,0,0,0
1950520361,1,1,1,-1,0,0,-1,0,0,-1,...,1,27,1,1442244467645,5.17,116964,0,0,0,0
1950047358,-1,0,0,-1,0,0,1,1,1,-1,...,0,31,1,1442188441896,5.17,18130564,0,0,0,0
1950011857,0,-1,1,-1,0,0,1,0,2,-1,...,1,36,0,1442185201148,5.17,11189025,0,0,0,0
1947645466,0,-1,1,-1,0,0,0,-1,1,-1,...,1,42,1,1442015922324,5.17,9474084,0,0,0,0
1947595783,1,1,1,-1,0,0,1,1,3,-1,...,1,49,1,1442011449257,5.17,19501056,0,0,0,0
1947538513,0,-1,1,-1,0,0,0,-3,3,-1,...,0,22,0,1442007098006,5.17,8844676,0,0,0,0
1947508622,-1,0,0,-1,0,0,-1,0,0,-1,...,1,22,1,1442005127269,5.17,1464100,0,0,0,0